/*-- scss:defaults --*/
// import Noto fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap");

// fonts
$font-family-sans-serif: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-monospace: "Noto Sans Mono", "Menlo", "Consolas", monospace !default;
$font-family-serif: "Noto Serif", serif !default;

// colors

// headings

/*-- scss:rules --*/
