/*-- scss:defaults --*/
// import Noto fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;300;500&family=Noto+Sans+Mono&family=Noto+Sans:wght@400;700&family=Noto+Serif:wght@400;700&display=swap");

// fonts
$font-family-sans-serif: "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-family-sans-alt: "Noto Sans Display", "Noto Sans", sans-serif !default;
$font-family-monospace: "Noto Sans Mono", "Menlo", "Consolas", monospace !default;
$font-family-serif: "Noto Serif", serif !default;

// color trios CCR mid >= 7 against white
// CCR *-dark against *-light is >=7
$white: #fff !default;
$black: #000 !default;
// gray
$gray-light: #d9d9d9 !default;
$gray-mid: #595959 !default;
$gray-dark: #1f1f1f !default;
// geekblue
$geekblue-light: #d6e4ff !default;
$geekblue-mid: #10239e !default;
$geekblue-dark: #030852 !default;
// cyan
$cyan-light: #b5f5ec !default;
$cyan-mid: #00626a !default;
$cyan-dark: #002329 !default;

// main colors
$body-bg: $white !default;
$body-color: $gray-dark !default;
// $text-muted: $gray-mid !default;

// link colors
$link-color: $geekblue-mid !default;
$link-hover-color: $geekblue-dark !default;

// headings
$presentation-title-slide-text-align: "left";

/*-- scss:rules --*/
// inline citation text lighter
span.citation {
  font-family: $font-family-sans-alt;
  font-weight: 300;
}
// source bottom right of slide
.source {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: smaller;
}
// CCR >= 7.0 for footer and blockquote
.reveal blockquote {
  color: $gray-mid;
}
.footer p {
  color: $gray-mid;
}

// link hover behavior
.reveal a:hover {
  background: $geekblue-light;
  color: $geekblue-dark;
  border-radius: 0.2rem;
  transition-property: background, color;
  transition-duration: 0.2s;
}
